include _SharedComponents.common.pug

include ../../node_modules/@yamato-daiwa/programming_documentation/YDF_ComponentsLocalization.japanese.pug
include ../../node_modules/@yamato-daiwa/programming_documentation/YDF_DK_ComponentsLocalization.japanese.pug


-

  Header__YDPD.setIconAlternatingText(
    "「Yamato Daiwa CS(harp) extensions」 (略: 「YDCSE」) ライブラリのアイコン。"
  );
