-

  const MetaDescriptionTemplates = {

    method: ({ methodName, className, whatMethodDoes }) =>
        `「Yamato Daiwa CS(harp) extensions（YDCSE）」ライブラリの「${ className }」クラスの「${ methodName }」メソッドは、${ whatMethodDoes }`,

    realiseNotes: ({ version }) =>
      `「Yamato Daiwa CSharp Extensions（YDCS）」と言うCSharp補助機能ライブラリのバージョン「${ version }」の変更(新規機能、既存機能の更新や以前の` +
        "機能の削除)の一覧。"

  };
