-

  const routingJapaneseLocalization = {

    fileNameLocalizationExtensions: "japanese",

    topPage: {
      $heading: "トップ",
      URI: "@All/Top/TopPage.japanese"
    },

    realiseNotes: {
      $heading: "リリースノート"
    }

  };
