-

  const MetaDescriptionTemplates = {

    function: ({ methodName, className, whatMethodDoes }) =>
        `Метод «${ methodName }» класса «${ className }» библиотеки «Yamato Daiwa CS(harp) extensions» ` +
        `(сокращённо: «YDCSE») ${ whatMethodDoes }`,

    realiseNotes: ({ version }) =>
        "Список изменений (новая функциональность, изменение существующий функциональности и удаления прежней) версии " +
          `${ version } CSharp-библиотеки вспомогательной функциональности «Yamato Daiwa CS Extensions» (сокращённо: «YDSCE»).`

  };
