-

  const routingRussianLocalization = {

    fileNameLocalizationExtensions: "russian",

    topPage: {
      $heading: "Главная страница",
      URI: "@All/Top/TopPage.russian"
    },

    realiseNotes: {
      $heading: "Что нового"
    }

  };
