-

  function generateLocalizedRouting(localization) {

    const localizedRouting = {

      top: {
        $heading: localization.topPage.$heading,
        $URI: localization.topPage.URI
      },

      realiseNotes: {

        $heading: localization.realiseNotes.$heading,

        $children: {

          v0d1: {
            $heading: "0.1",
            $URI: `@All/RealiseNotes/v0d1/RealiseNotes-v0d1.${ localization.fileNameLocalizationExtensions }`
          }

        }

      }

    };

    return localizedRouting;

  }
