-

  const MetaDescriptionTemplates = {

    method: ({ methodName, className, whatMethodDoes }) =>
        `The method &quot;${ methodName }&quot; of the class ${ className } of &quot;Yamato Daiwa CS(harp) extensions&quot; ` +
        `(abbreviation: &quot;YDCSE;&quot;) library ${ whatMethodDoes }`,

    realiseNotes: ({ version }) =>
        "The changes log (new functionality, changing of the existing functionality and removing of the previous one) of " +
          `the version ${ version } of the utility CS(harp) library &quot;Yamato Daiwa CS(harp) Extensions&quot; ` +
          "(abbreviation: &quot;YDSCE&quot;)."

  };
