-

  const routingEnglishLocalization = {

    fileNameLocalizationExtensions: "english",

    topPage: {
      tableOfContentsTitle: "Top",
      URI: "@All/index"
    },

    realiseNotes: {
      tableOfContentsTitle: "Realise notes"
    }

  };
